In [38]:
import pandas as pd

df = pd.read_csv('/Users/aayushsharma/Downloads/AIQ_data/city_day.csv') #dataset contaning dependent feature (PM2.5) from year 2015 to current

In [39]:
set(df.City.values) #can analyse any city as I live in Delhi to taking Delhi into consideration

{'Ahmedabad',
 'Aizawl',
 'Amaravati',
 'Amritsar',
 'Bengaluru',
 'Bhopal',
 'Brajrajnagar',
 'Chandigarh',
 'Chennai',
 'Coimbatore',
 'Delhi',
 'Ernakulam',
 'Gurugram',
 'Guwahati',
 'Hyderabad',
 'Jaipur',
 'Jorapokhar',
 'Kochi',
 'Kolkata',
 'Lucknow',
 'Mumbai',
 'Patna',
 'Shillong',
 'Talcher',
 'Thiruvananthapuram',
 'Visakhapatnam'}

In [40]:
df_delhi = df[df.City == 'Delhi'] #filtering
df_delhi.head()

,City,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
10229,Delhi,2015-01-01,313.22,607.98,69.16,36.39,110.59,33.85,15.20,9.25,41.68,14.36,24.86,9.84,472.0,Severe
10230,Delhi,2015-01-02,186.18,269.55,62.09,32.87,88.14,31.83,9.54,6.65,29.97,10.55,20.09,4.29,454.0,Severe
10231,Delhi,2015-01-03,87.18,131.90,25.73,30.31,47.95,69.55,10.61,2.65,19.71,3.91,10.23,1.99,143.0,Moderate
10232,Delhi,2015-01-04,151.84,241.84,25.01,36.91,48.62,130.36,11.54,4.63,25.36,4.26,9.71,3.34,319.0,Very Poor
10233,Delhi,2015-01-05,146.60,219.13,14.01,34.92,38.25,122.88,9.20,3.33,23.20,2.80,6.21,2.96,325.0,Very Poor

In [41]:
df_delhi['Year'] = pd.DatetimeIndex(df_delhi['Date']).year #creating year column
df_delhi.head()

/Users/aayushsharma/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,City,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket,Year
10229,Delhi,2015-01-01,313.22,607.98,69.16,36.39,110.59,33.85,15.20,9.25,41.68,14.36,24.86,9.84,472.0,Severe,2015
10230,Delhi,2015-01-02,186.18,269.55,62.09,32.87,88.14,31.83,9.54,6.65,29.97,10.55,20.09,4.29,454.0,Severe,2015
10231,Delhi,2015-01-03,87.18,131.90,25.73,30.31,47.95,69.55,10.61,2.65,19.71,3.91,10.23,1.99,143.0,Moderate,2015
10232,Delhi,2015-01-04,151.84,241.84,25.01,36.91,48.62,130.36,11.54,4.63,25.36,4.26,9.71,3.34,319.0,Very Poor,2015
10233,Delhi,2015-01-05,146.60,219.13,14.01,34.92,38.25,122.88,9.20,3.33,23.20,2.80,6.21,2.96,325.0,Very Poor,2015

In [46]:
df_delhi.info() #checking null enteries

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2009 entries, 10229 to 12237
Data columns (total 17 columns):
City          2009 non-null object
Date          2009 non-null object
PM2.5         2007 non-null float64
PM10          1932 non-null float64
NO            2007 non-null float64
NO2           2007 non-null float64
NOx           2009 non-null float64
NH3           2000 non-null float64
CO            2009 non-null float64
SO2           1899 non-null float64
O3            1925 non-null float64
Benzene       2009 non-null float64
Toluene       2009 non-null float64
Xylene        1228 non-null float64
AQI           1999 non-null float64
AQI_Bucket    1999 non-null object
Year          2009 non-null int64
dtypes: float64(13), int64(1), object(3)
memory usage: 282.5+ KB

In [79]:
df_2015 = df_delhi[df_delhi.Year == 2015]['PM2.5'] #Extracting the independent feature for every year
df_2015

10229    313.22
10230    186.18
10231     87.18
10232    151.84
10233    146.60
          ...
10589    187.01
10590    148.77
10591    159.67
10592    233.97
10593    240.97
Name: PM2.5, Length: 365, dtype: float64

In [67]:
df_2016 = df_delhi[df_delhi.Year == 2016]['PM2.5']

In [68]:
df_2017 = df_delhi[df_delhi.Year == 2017]['PM2.5']

In [69]:
df_2018 = df_delhi[df_delhi.Year == 2018]['PM2.5']

In [70]:
df_2019 = df_delhi[df_delhi.Year == 2019]['PM2.5']

In [81]:
df_2015.to_csv('2015.csv', index = False, header = False) # Creating csv files for every year, loop won't work as df object can not be a string so no concatenation can be done hence looping is failed

In [82]:
df_2016.to_csv('2016.csv', index = False, header = False)

In [83]:
df_2017.to_csv('2017.csv', index = False, header = False)

In [84]:
df_2018.to_csv('2018.csv', index = False, header = False)

In [85]:
df_2019.to_csv('2019.csv', index = False, header = False)